doctype html
html(class="no-js", lang="ru")

    include ../../bemto/bemto
    include ../components/head/head.pug
    include ../components/header/header
    include ../components/footer/footer.pug
    include ../components/clubs/clubs
    include ../components/now-win/now-win
    include ../components/vitrina/vitrina
    include ../components/slot-of-the-day/slot-of-the-day
    include ../components/news/news
    include ../components/pre-text-promo/pre-text-promo
    include ../components/text-block/text-block
    include ../components/trust/trust
    include ../components/iframe-block/iframe-block

    head
        +head(head.defaults)
    body.game-page
        |%=symbols=%

        +header()

        .big-bg-wrap.big-bg-wrap--game
            .container
                +iframe-block()
                +clubs-for-game()
                +now-win()
                +vitrina-game-page()
                +text-block()
                +slot-of-the-day()
                +pre-text-promo-desc2()
                +news()
                +pre-text-promo-till-desc1()


        +trust()

        +footer()


        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
