html, body {
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-width: 360px;
    font-family: $didactgothic;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    @include clearfix;

    @media (min-width: 1240px) {
        width: 1240px;
    }
}

.container--month-club {
    @media ($tab1) {
        max-width: 532px;
    }
    @media ($tab2) {
        max-width: 840px;
        height: 232px;
    }
    @media ($desc1) {

    }
}

.container--news {
    @media ($desc1) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.header .container {
    @media ($desc1) {
        position: relative;
        min-height: 380px;
    }
}

.big-bg-wrap {
    padding-top: 24px;
    background: #1e0f3a;
    border-bottom: 2px solid #40206c;
}

.big-bg-wrap--game {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 490px;
        position: absolute;
        top: 0;
        background: #231548;
        border-bottom: 2px solid #40206c;
        z-index: 5;
        @media ($tab1) {
            height: 570px;
        }
        @media ($tab2) {
            height: 760px;
        }
        @media ($desc1) {
            height: 676px;
        }
        @media ($desc2) {
            height: 730px;
        }
    }
    .container {
        position: relative;
        z-index: 10;
    }
}


.js-text-wrap {
    max-height: 550px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 3s;
    @media ($tab1) {
        max-height: none;
    }
    &--high {
        max-height: 10000px;
    }
}

.js-btn-open {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    border: none;
    background: none;
    border-bottom: 2px dotted $blue-color;
    color: $blue-color;
    font-family: Arial, sans-serif;
    font-size: 16px;
    @media ($tab1) {
        display: none;
    }
    &--closed {
        display: none;
    }
}


