@font-face {
    font-family: 'Didact Gothic';
    src: url('../fonts/DidactGothicRegular.eot');
    src: url('../fonts/DidactGothicRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DidactGothicRegular.woff') format('woff'),
         url('../fonts/DidactGothicRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
