$violet1: #2c1241;

$light-purple-text: #684fff;
$blue-color: #00baff;

$tab1: 'min-width: 500px';
$tab2: 'min-width: 750px';
$desc1: 'min-width: 980px';
$desc2: 'min-width: 1206px';


$didactgothic: 'Didact Gothic', Arial, sans-serif;

$linear-green: linear-gradient(#85cc19, #1aac84);
$linear-purple: linear-gradient(#9359e9, #1e86d4);

$linear-green-hover: linear-gradient(#85cc19, #85cc19);
$linear-purple-hover: linear-gradient(#1e86d4, #1e86d4);
