mixin footer(data)
    +b.FOOTER.footer
        .container
            +e.img-wrap
                img(src="static/img/content/footer-img.png")
            +e.text
                p text text text
                p text text text
