mixin month-club(data)
    +b.SECTION.month-club
        +e.title-wrap
            .container
                +e.title-text Клуб месяца
        +e.cont-wrap
            .container.container--month-club
                +e.text-block
                    +e.white-text Разыграно лотерей на сумму
                    +e.sum 14 598 руб
                    +e.A(href="#").link Перейти в клуб

