mixin iframe-block(data)
    +b.SECTION.iframe-block
        +e.title Пирамида в игровом автомате Aztec Gold- играть бесплатно без регистрации онлайн
        +e.wrap
            <iframe src="//games-cv.com/pharaohs_gold_iii?refCode=promoRefCode" align="center"></iframe>
        +e.link-wrap
            +e.A(href="#").link Играть на деньги

