mixin vitrina(data)
    +b.SECTION.vitrina
        +e.title Популярные игры
        +e.wrap
            -for (var i=0; i<8; i++)
                +e.item
                    +e.A(href="#").logo
                        img(src="static/img/content/vitrina-item-logo.jpg")
                    +e.A(href='#').item-title
                        span Dracula's Family
                    +e.item-stars
                    +e.links-wrap
                        +e.A(href="#").link Играть
                        +e.A(href="#").link Демо


mixin vitrina-game-page(data)
    +b.SECTION.vitrina
        +e.title Похожие игры
        +e.wrap
            -for (var i=0; i<4; i++)
                +e.item
                    +e.A(href="#").logo
                        img(src="static/img/content/vitrina-item-logo.jpg")
                    +e.A(href='#').item-title
                        span Dracula's Family
                    +e.item-stars
                    +e.links-wrap
                        +e.A(href="#").link Играть
                        +e.A(href="#").link Демо


