mixin news(data)
    +b.SECTION.news
        +e.title Новости
        +e.wrap
            -for (var i=0; i<4; i++)
                +e.item
                    +e.A(href="#").img-wrap
                        img(src="static/img/content/news-img.jpg")
                    +e.text-wrap
                        +e.A(href="#").name
                            span Весна подарков: стартовала лотерея 8 марта
                        +e.date 02.03.2015
            +e.bottom-link-wrap
                +e.A(href="#").bottom-link Все новости
