mixin trust(data)
    +b.SECTION.trust
        .container
            +e.title Нам доверяют
            +e.wrap
                +e.img
                    img(src="static/img/general/trust.png")
                +e.img
                    img(src="static/img/general/trust2.png")
                +e.img
                    img(src="static/img/general/trust3.png")
                +e.img
                    img(src="static/img/general/trust4.png")
                +e.img
                    img(src="static/img/general/trust5.png")
                +e.img
                    img(src="static/img/general/trust6.png")
                +e.img
                    img(src="static/img/general/trust7.png")
