.header {
    position: relative;
    padding: 14px 0 12px 0;
    background: #1f0e3a;
    font-family: $didactgothic;
    border-bottom: 2px solid #40206c;
    &::before {
        position: absolute;
        top: 0;
        content: '';
        display: block;
        width: 100%;
        height: 6px;
        background-image: linear-gradient(to right,
            #ff6b13 20%,
            #99cb10 20%, #99cb10 40%,
            #00adef 40%, #00adef 60%,
            #fff33b 60%, #fff33b 80%,
            #684fff 80%);
        background-size: 320px;
    }
}

.header .container::after {
    content: '';
    display: table;
    clear: both;
}

.main-logo {
    width: 110px;
    height: 110px;
}

.main-logo, .nav {
    display: inline-block;
}

.nav {
    float: right;
    color: rgba(255,255,255,.5);
    padding-top: 50px;
    &__mob-text {
        text-transform: uppercase;
        color: #684fff;
    }

    &__inner-wrap {
        position: absolute;
        z-index: 1000;
        transform: translate(0, -135%);
        transition: all .3s;
        top: 50px;
        width: 270px;
        right: 20px;
        background: #481d6c;
        &--open {
            transform: translate(0, 0);
        }
    }

    &__link {
        color: #fff;
    }
    &__open {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 5px;
        background: #684fff;
        margin-left: 8px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 5px;
            background: #684fff;
            top: -10px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 5px;
            background: #684fff;
            top: -20px;
        }
    }
    &__close-wrap {
        position: absolute;
        z-index: 1001;
        width: 30px;
        height: 30px;
        right: 25px;
        top: 55px;
        display: none;
        &--show {
            display: block;
        }
    }
    &__close {
        position: absolute;
        top: 14px;
        width: 33px;
        height: 4px;
        background: #684fff;
        z-index: 1001;
        transform: rotate(45deg);
        &::after {
            content: '';
            display: block;
            width: 33px;
            height: 4px;
            background: #684fff;
            z-index: 1001;
            transform: rotate(90deg);
        }
    }
    &__list {
        padding: 0;
        padding-top: 15px;
        margin: 0;
        list-style: none;
    }
    &__item {
        font-size: 18px;
        color: #fff;
        background: #481d6c;
        border-bottom: 1px solid #5a2487;
        padding: 12px 0 12px 30px;
        transition: background .3s;
        &:hover {
            .nav__link {
                color: #99cb11;
                text-decoration: none;
            }
        }
        &--active {
            background-image: linear-gradient(#202d36, #303d48);
            .nav__link {
                color: #e2a308;
                transition: color .3s;
            }
        }

    }
    &__link {
        text-decoration: none;
        transition: all .3s;
    }
}

@media ($tab1) {
    .main-logo {
        width: 142px;
        height: 142px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media ($tab2) {
    .nav__mob-text {
        display: none;
    }

    .nav__inner-wrap {
        width: auto;
        position: static;
        transform: translate(0, 0);
        background: none;
    }

    .nav {
        padding-top: 0;
        float: none;
        display: block;
    }

    .nav__item {
        background: none;
        border: none;
        display: inline-block;
        padding: 12px 14px 12px 14px;
        border-radius: 5px;
    }

    .nav__link {
        border-bottom: 2px solid transparent;
    }

    .nav__item:hover {
        background: #481d6c;
        .nav__link {
            border-bottom: 2px solid #99cb11;
        }
    }
}

@media ($desc1) {
     .header {
         min-height: 396px;
         background: #1f0e3a url(../img/general/header-bg.jpg) no-repeat;
         background-position: center bottom;
         background-size: 1500px 410px;
         @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url(../img/general/header-bg@2x.jpg);
        }
     }

     .main-logo {
         position: absolute;
         top: 85px;
     }

    .nav__list {
        padding-top: 0;
        text-align: justify;
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
        }
    }

    .nav__item {
        padding: 10px 14px 10px 14px;
    }
}

@media ($desc2) {
    .main-logo {
        top: 65px;
    }
    .nav__list::after {
        content: "";
        display: table;
        clear: both;
    }

    .nav__item:nth-child(odd) {
        float: left;
    }

    .nav__item:nth-child(even) {
        float: right;
    }
}

.branding-btns {
    display: none;
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    @media ($desc1) {
        display: block;
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    @media ($desc2) {
        width: 68%;
    }
    &__link {
        min-width: 226px;
        text-align: center;
        display: inline-block;
        padding: 12px 20px;
        text-decoration: none;
        color: #fff;
        background-image: linear-gradient(#ff9e2e, #ff424e);
        box-shadow: 0 10px 12px 2px #000;
        border-radius: 5px;
        transition: all .3s;
        &:hover {
            background-image: linear-gradient(#ff424e, #ff424e);
            box-shadow: 0 10px 12px 2px #000, 0px -10px 12px 2px #000;
            text-decoration: underline;
        }
    }
    &__link:first-child {
        float: left;
    }
    &__link:last-child {
        float: right;
    }
}
