.now-win {
    margin-bottom: 28px;
    @media ($desc2) {
        width: 75%;
        float: right;
    }
    &__title {
        @include block-title;
    }
    &__slider-wrap {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 1px;
            width: 60px;
            height: 76px;
            background-image: linear-gradient(to right ,rgba(50, 30, 102, 0) 5%, #321e66 70%);
        }
    }
    &__slide {
        position: relative;
        width: 188px;
        padding: 12px 12px 12px 18px;
        background: #321e66;
        @include clearfix;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            width: 1px;
            height: 60px;
            background: #26145b;
        }
    }
    &__slide-left {
        float: left;
    }
    &__slide-right {
        float: right;
        font-size: 14px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: -11px;
            top: 0;
            display: block;
            width: 1px;
            height: 60px;
            background: #3f2a74;
        }
    }
    &__game {
        display: inline-block;
        text-decoration: none;
        color: $blue-color;
        &:hover {
            text-decoration: underline;
        }
    }
    &__name {
        color: #847ece;
    }
    &__sum {
        color: #fff43c;
    }
}

.game-page {
    .now-win {
        @media ($desc1) {
            clear: both;
        }
        @media ($desc2) {
            width: 33%;
            clear: none;
        }
    }
}
