.slot-of-the-day {
    &__title {
        @include block-title;
    }
    @media ($desc1) {
        width: 30%;
        float: left;
    }
    @media ($desc2) {
        width: 24%;
        margin-top: -148px;
    }
}

.today-slot {
    background: #321e66;
    border: 1px solid #321e66;
    border-radius: 3px 3px 0 0;
    text-align: center;
    max-width: 320px;
    margin: 0 auto 30px;
    @media ($tab1) {
        max-width: 658px;
    }
    @media ($tab2) {
        max-width: 750px;
    }
    &__img-wrap {
        @media ($tab1) {
            float: left;
            vertical-align: top;
        }
        @media ($desc1) {
            float: none;
            padding-top: 10px;
        }
        img {
            display: block;
            width: 100%;
            border-radius: 3px 3px 0 0;
            -o-object-fit: cover;
            object-fit: cover;
            @media ($tab1) {
                width: 254px;
                height: 204px;
                border-radius: 3px;
            }
            @media ($tab2) {
                width: 302px;
                height: 226px;
            }
            @media ($desc1) {
                display: inline-block;
            }
        }
    }
    &__text-wrap {
        padding: 14px 2px;
        text-align: center;
        @media ($tab1) {
            display: inline-block;
        }
        a {
            text-decoration: none;
            color: $blue-color;
        }
    }
    &__slot-title-wrap {
        position: relative;
        padding-bottom: 12px;
        @media ($tab2) {
            padding-bottom: 30px;
        }
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
        }
        &::after {
            bottom: 0;
            background: #26145b;
        }
        &::before {
            bottom: 2px;
            background: #3f2a74;
        }
    }
    &__slot-title {
        font-size: 24px;
        line-height: 24px;
        display: inline-block;
        margin-bottom: 4px;
    }
    &__slot-text-under-title {
        font-size: 18px;
        line-height: 18px;
    }
    &__slot-cont-wrap {
        text-align: center;
        padding-top: 10px;
    }
    &__white-text {
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
        @media ($tab2) {
            display: inline-block;
        }
        @media ($desc1) {
            display: block;
        }
    }
    &__sum {
        font-size: 24px;
        color: #99cb11;
        margin-bottom: 20px;
        @media ($tab2) {
            display: inline-block;
            margin-bottom: 30px;
        }
        @media ($desc1) {
            display: block;
        }
    }
    &__link {
        display: inline-block;
        padding: 12px 42px;
        background-image: $linear-green;
        text-decoration: none;
        font-size: 18px;
        color: #fff !important;
        border-radius: 3px;
        transition: all .3s;
        &:hover {
            background-image: $linear-green-hover;
            box-shadow: 0 0 4px 2px #fff;
            text-decoration: underline;
        }
        @media ($tab2) {
            display: block;
            margin-bottom: 22px;
        }
        @media ($desc1) {
            display: inline-block;
        }
    }
}

.today-promo-img {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 6px;
    margin-bottom: 30px;
    background: url(../img/general/today-promo-img.jpg) no-repeat center;
    @media ($tab1) {
        height: 226px;
        background: url(../img/general/today-promo-img-tab1.jpg) no-repeat center;
    }
    @media ($tab2) {
        background: url(../img/general/today-promo-img-tab2.jpg) no-repeat center;
        max-width: 750px;
        margin: 0 auto 30px;
    }
    @media ($desc1) {
        height: 415px;
        background: url(../img/general/today-promo-img.jpg) no-repeat center;
    }
    &__link {
        position: absolute;
        display: inline-block;
        padding: 10px 48px;
        text-decoration: none;
        color: #fff;
        background-image: $linear-green;
        font-size: 18px;
        border-radius: 3px;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all .3s;
        &:hover {
            background-image: $linear-green-hover;
            box-shadow: 0 0 4px 2px #fff;
            text-decoration: underline;
        }
        @media ($tab1) {
            bottom: 30px;
            left: calc(50% - 112px);
        }
        @media ($tab2) {
            left: 12%;
            transform: none;
        }
        @media ($desc1) {
            bottom: 18px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.game-page {
    @media ($desc2) {
        .slot-of-the-day {
            margin-top: -347px;
        }
    }
}

.text-page, .club-page {
    .slot-of-the-day {
        margin-top: 0;
    }
}
