mixin news-list(data)
    +b.SECTION.news-list
        -for(var i=0; i<4; i++)
            +e.item
                +e.A(href="#").item-left
                    img(src="static/img/content/one-news-img.jpg")
                +e.item-right
                    +e.A(href="#").item-title
                        span Название новости
                    +e.item-text Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости Превью новости
                    +e.item-date 27.01.2017
