mixin text-block(data)
    +b.SECTION.text-block
        .js-text-wrap
            h1 H1 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ul
                li «Астелит» заплатит за него 3 355 400 000 грн,
                li «Астелит» заплатит за него 3 355 400 000 грн,
            h2 H2 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ol
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
            h3 H3 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ol
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
            h3 H3 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
        +b.BUTTON.js-btn-open Развернуть



mixin text-block-club(data)
    +b.SECTION.text-block
        .js-text-wrap
            h1 H1 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ul
                li «Астелит» заплатит за него 3 355 400 000 грн,
                li «Астелит» заплатит за него 3 355 400 000 грн,
            h2 H2 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ol
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
            h3 H3 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.
            ol
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
                li По мнениям конкурентов на тендере, компания переплатила 600 млн грн.
            h3 H3 Официальный игровой клуб
            p Первый лот отошел оператору life:). Компания «Астелит» заплатит за него 3 355 400 000 грн, перебив предложение «МТС Украина» размером в 3,22 млрд грн.

            A(href="#").text-block-club-link Перейти в клуб
        +b.BUTTON.js-btn-open Развернуть
